@import url(vars.css);

/* By Dina */

body{
    background-color: var(--bg-color);



    background-image: url('../img/istockphoto-996416794-170667a.jpg');
}



.blur {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-dark {
  background-color: var(--dark-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-second{
    color: var(--primary-color) !important;
    font-size: 20px;
}
.text-third{
    color: aquamarine;
}
.text-gray{
    color: var(--gray-color) !important;
}


.bg-gray {
  background-color: var(--gray-color) !important;
}

.bg-second{
    background-color: black;
}

.bg-green{
    background-color: #b86da5;
}

.btn-outline-primary {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.btn-primary {
  border-color: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: #4b5f30 !important;
}

/* Productos */
.team-item img {
  transition: 0.5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

.shadow {
  box-shadow: 0 0 5px rgba(63, 63, 55, 0.603);
}

.productos:link {
  color: var(--primary-color);
  text-decoration: none;
}
.productos:visited {
  color: var(--primary-color);
  text-decoration: none;
}

.a:link{
    color: #F8E869;
    text-decoration: none;
}

.a:visited{
    color: #037586;
    text-decoration: none;
}

#sesion:link{
    color: var(--second-color);
}
#sesion:visited {
  color: var(--primary-color);
}

/* ------------------------------------------------------------------ */
/* By Fer*/
.primary-color {
  background: #5d6e43;
}
.second-color {
  background: #e6e4e1;
}
.bg-color {
  background-color: #c2e9d9;
}
.height6 {
  height: 60%;
}
.height4 {
  height: 40%;
}
.p-t1 {
  margin-top: 15%;
}

#contenedor {
  color: black;
  width: 40%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  top: 10%;
  left: 30%;
  padding: 5%;
}
.footer{
  background-color: #5e0943; 
}
/* ---------------------------------------------------------------- */


/* By javier */
/* ========================================== */
.w-90 {
  width: 90%;
}
.pt-8 {
  padding-top: 8%;
}
.mt-6 {
  margin-top: 6%;
}
.bg-form {
  /* background-color: var(--primary-color) !important; */
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}
.color-form {
  color: var(--primary-color) !important;
}

/* By Alicia */

.btnAnterior {
  border: 1px solid blue;
  color: blue;
  height: 40px;
}
.slider {
  height: 100vh;
  background-color: #ccc;
}

/* ------------------------------------------------------------------ */

/* By rumina */

 
#options{
  margin-top: 20px;
  height: 40px;
  border-radius: 5px;
}

aside{
  background-color: rgb(236, 229, 229);
}


 #numero{
     width: 70px;
 }

.height1{
    height: 400px;
}

.producto_principal{
    width: 200px;
    height: 200px;
}

#foot{
    background-color: #5e0943;
}



#producto{
  width: 45%;
}

#main{
  width: 30%;
  height: 100vh;
 
}
 

