@import url(vars.css);

/* By Dina */
body{
    background-image: url('../img/istockphoto-996416794-170667a.jpg');
}

.blur{
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-dark{
    background-color: var(--dark-color) !important;
}

.text-primary{
    color: var(--primary-color)!important; 
}

.text-second{
    color: var(--primary-color) !important;
    font-size: 20px;
}
.text-third{
    color: aquamarine;
}
.text-gray{
    color: var(--gray-color) !important;
}

.bg-gray{
    
    background-color: var(--gray-color) !important;
}

.bg-second{
    
    background-image: url('../img/header.jpg');
}

.btn-outline-primary{
    border-color: var(--primary-color)!important; 
    color: var(--primary-color)!important; 
}

.btn-outline-primary:hover{
    background-color: var(--primary-color)!important; 
    color: white !important;
}

.btn-primary{
    border-color: var(--primary-color)!important;
    background-color: var(--primary-color)!important; 
    color: white !important;
}

.btn-primary:hover{
    
    background-color: #4b5f30!important; 
}

/* Productos */
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.shadow{
    box-shadow: 0 0 5px rgba(63, 63, 55, 0.603);
}

.productos:link{
    color: var(--primary-color);
    text-decoration: none;
}
.productos:visited{
    color: var(--primary-color);
    text-decoration: none;
}

.a:link{
    color: #F8E869;
    text-decoration: none;
}

.a:visited{
    color: #037586;
    text-decoration: none;
}

#sesion:link{
    color: var(--primary-color);
}
#sesion:visited{
    color: var(--primary-color);
}

/* ------------------------------------------------------------------ */


/* By Alicia */

  .btnAnterior{
    border: 1px solid  blue;
  color: blue;
 height: 40px;
  }

 #numero{
     width: 70px;
 }

.height1{
    height: 400px;
}





  /* ------------------------------------------------------------------ */